@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background-color: black;
}
.Login-Page{
    border: 2px solid #2ec747;
    width:21rem;
    height:29rem;
    text-align: center;
    background-color: black;
    position: relative;
    border-radius:13px;
    
}
h2{
    font-size:2.45rem;
    color:#4CFF6A;
    padding:17px;
    margin-top:10px;
    font-family: "Roboto", sans-serif;
}
.welcome{
    color:rgb(230, 223, 223);
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    margin-bottom:25px;
    font-weight: bold;
}
input{
    width:80%;
    height:11%;
    border-radius:10px;
    border:2px solid white;
    background-color: black;
    padding:13px;
    
}
.pass{
    color:white;
}
.Email{
    color:white;
}
i{
    color:white;
    
}
.input-box{
    position: relative;
}
.input-box i{
    position:absolute;
    right:50px;
    top:30%;
    translate:translateY(-50%);
    font-size:0.88rem;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px black inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
}
.input-box:hover{
    transform: scale(1.045);
    cursor: pointer;
}
button{
    margin-top: 13.45px;
    width:80%;
    height:11%;
    border-radius:10px;
    padding:13px;
    font-size:1rem;
    color:#4CFF6A;
    background-color: black;
    border:2px solid #4CFF6A;
    font-weight: bold;
    transition: background-color 0.6s ease;
}
button:hover{
    background-color: #31da4d;
    color:white;
    cursor:pointer;
    transition: all 0.6s ease;
}
.forgot{
    color:grey;
    font-size:13px;
    font-family: "Roboto", sans-serif;
    margin-top:13.45px;
}
.forgot:hover{
    cursor: pointer;
}

.account-section{
    display:flex;
    justify-content:center;
    gap:5px;
    margin-top: 14px;
}
.account{
    color:rgb(230, 223, 223);;
    font-family: "Roboto", sans-serif;
    font-size:15px;

}
.sign-up{
    
    font-family: "Roboto", sans-serif;
    font-size:15px;
    color:#4CFF6A;
}
.sign-up:hover{
    cursor: pointer;
}
a{
    font-weight: bolder;
    
}

.Login-Page::after{
    content: "";
    position: absolute;
    top:-2px;
    left:-2px;
    width:calc(100% + 4px);
    height:calc(100% + 4px);
    background:#00ff6a;
    z-index: -1;
    filter:blur(30px);
    opacity:1;
    animation: glowing 2.5s infinite;

    
}
@keyframes glowing{
    0%{
        filter:blur(17px);
        opacity:0.76;
    }
    50%{
        filter:blur(12px);
        opacity:0.56;
    }
    100%{
        filter:blur(18px);
        opacity:0.8;
    }
}