
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



body{
    background-color: black;
    color:white;
    position:relative;
}
*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}
.logo{
    display:flex;
    align-items: center;
    gap:0.34rem;
    font-family: "Roboto", sans-serif;
}
#heading{
    font-weight:bolder;
}
.left{
    width:25vw;
    padding:10px;
}
.right{
    width:75vw;
    max-height:85vh;
    overflow-y:scroll;
    position:relative ;
    padding-bottom:70px;
}

/* Firefox */
.right {
    scrollbar-width: none; /* hide */
}

/* Chrome, Edge, Safari */
.right::-webkit-scrollbar {
    width: 0;
}

/* Show scrollbar on hover */
.right:hover::-webkit-scrollbar {
    width: 8px;
}

.right:hover::-webkit-scrollbar-thumb {
    background-color: #2a2a2a; /* light black */
    border-radius: 10px;
}

.right:hover::-webkit-scrollbar-track {
    background: transparent;
}

/* Firefox hover */
.right:hover {
    scrollbar-width: thin;
    scrollbar-color: #2a2a2a transparent;
}

ul li{
    display:flex;
    gap:0.38rem;
    font-weight:bolder;
    padding-top:14px;
    font-family: "Roboto", sans-serif;
    font-size:0.72rem;
    
}
.home{
    padding:10px;
}
.library{
    min-height:66.76vh;
    position:relative;/*taking library as the parent element so that the footer elements could be placed at the end*/
}
.libraryheading{
    display:flex;
    gap:0.38rem;
    width:100%;
    font-weight:bolder;
    padding-top:14px;
    padding:23px 14px;
    font-size:0.5rem;
    align-items:center;
    font-family: "Roboto", sans-serif;
    color:rgb(209, 190, 190);
}
.library img{
    height:13px;
    width:13px;
}
.footer{
    display:flex;
    font-size:10px;
    gap:8px;
    font-style: none;
    position:absolute;/*on the basis of library im putting my footer at the bottom*/
    bottom:20px;
   
}
.footer a{
     color:rgb(209, 190, 190);
     text-decoration:none;
}

.header{
    display:flex;
    justify-content:space-between;
    padding:7px;
    align-items:center;
}
button{
    height:2.43rem;
    width:5rem;
    border-radius:2rem;
    font-weight:bold;
    border:1px solid white;
}
.sign{
    background-color: #2a2929;
    color:white;
    border:none;
}
.songs-section{
    min-height:auto;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.playlist-header{
    display:flex;
    justify-content:space-between;
}
.song-heading{
    font-size:0.89rem;
    font-family: "Roboto", sans-serif;
}

.card-container{
    margin-top:10px;
    padding-top:0;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:14px 16px;
    
    
}
.card{
    width:226px;
    height:300px;
    
    border-radius:8px;
    display:flex;
    flex-direction:column;
    align-items:center;
    
    
    
}
.card:hover{
    transform: scale(1.045);
    cursor:pointer;
    background-color: #373333;
}
.card p:hover{
    text-decoration:underline;
    transition: all 0.3s ease;
   
}
.card img{
    object-fit:cover;
    width:180px;
    height:180px;
    margin-top:19px;
}
.card h2{
    padding:2px;
    margin-left:14px;
    font-family: "Roboto", sans-serif;
}
.card p{
    margin-left:12px;
    margin-right:2.34px;
    font-family: "Roboto", sans-serif;
    font-size:0.78rem;
    padding:5px;
    
}
.song-heading h2, .playlist-header h2{
    margin :0;
}

.songs-section h2{
    margin: 0 0 8px 0;
}

.artists-section{
    min-height:auto;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    
}
.artists-container{
    margin-top:10px;
    padding-top:0;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    gap:5px 5px;
    
    
}
.artist-card img{
    object-fit:cover;
    border-radius:50%;
    height:180px;
    width:180px;
}
.artist-card p{
    margin-left:12px;
    margin-right:2.34px;
    font-family: "Roboto", sans-serif;
    font-size:0.83rem;
    padding:5px;
    text-align:center;
    
}
.artist-card:hover{
    transform: scale(1.045);
    cursor:pointer;
    
}


.card{
    position: relative;

}
.play{
    position: absolute;
    bottom:100px;
    right:30px;
     opacity: 0;
    transform: scale(0.8);
    transition: all 0.3s ease;
    cursor: pointer;
    
}
.card:hover .play{
    opacity:1;
    transform:scale(1);
}

    .playbar{
    width: 100vw;
    bottom:0;
    height: 75px;
    background-color: black;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    padding: 3px;
    position:fixed;
    margin-top: 0px;
    padding:0 15px;
    gap:50px;
}
.playbar:hover{
    cursor:pointer;
}

.songButtons{
    top:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin-bottom:10px;
}

.progress-container{
    display: flex;
    justify-content: center;
    width:100%;
}
#progress{
    -webkit-appearance:none;
    width:50%;
   max-width:500px;
   height:3px;
    background-color: grey;
    border-radius:4px;
}
#progress::-webkit-slider-thumb{
    -webkit-appearance:none;
     height:10px;
     width:10px;
     background-color: white;
     border-radius: 50%;
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.image{
    height:50px;
    width:50px;
    border-radius: 3px;
}  
.parent-container{
    display:flex;
    align-items: center;
    gap : 15px;
    width:100%;
    padding:10px;
}
.playbar-top{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.playbar-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    max-width:800px;
    
}